#contact{
    background-color: #eee;
}
#snack{
    background-size: 40%;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-image: url(../img/Fotos/bitterbal.png);
    padding: 4rem 0;
    background-color: #ddd;
}
#copyright{
    background-color: #ccc;
}

.mastheadfotos {
    padding-top: 15rem;
    padding-bottom: calc(20rem - 72px);
    background-image: url("../img/Fotos/achtergond.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
.mastheadsnack {
    padding-top: 15rem;
    padding-bottom: calc(20rem - 72px);
    background-image: url("../img/Fotos/DSC05495.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}


#chips {
    animation-name: floatingchips;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: fixed;
    height: 100px;
}
#chips img{
    height: 100%;
}

@keyframes floatingchips {
    0% { left: 0; }
    100%   { left: 100%; }
}